body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.styled-table {
  width: 100%;
}

.styled-table thead {
  background-color: rgb(101, 202, 101);
}

.styled-table thead th {
  padding: 10px;
}

.styled-table tbody {
  background-color: rgb(204, 236, 204);
  text-align: center;
}

.profile-image {
  height: 50px;
  width: auto;
  object-fit: contain;
}

.input-field {
  width: 100%;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  margin: 10px auto;
}
